# GCP Configuration
PROJECT_ID=ecommerce-494010
REGION=europe-west1
DATASET=ecommerce_analytics
BUCKET=ecommerce-raw-ecommerce-494010

# Pub/Sub Configuration
PUBSUB_TOPIC=orders-realtime
PUBSUB_TOPIC_DLQ=orders-realtime-dlq
PUBSUB_SUB=orders-sub

# Authentication
GOOGLE_APPLICATION_CREDENTIALS=path/to/service-account-key.json

# Data Configuration
NB_CLIENTS=2000
NB_PRODUCTS=50
NB_ORDERS=15000
NB_INCIDENTS=3000
NB_SESSIONS=50000
DATE_START=2022-01-01
DATE_END=2024-06-01

# Logging Level
LOG_LEVEL=INFO
